server:
  port: 8003

spring:
  application:
    name: aspro-web-api
  profiles:
    active: dev
    include: web, db, nacos

---
spring:
  profiles: dev
  cloud:
    nacos:
      config:
        extension-configs:
          - data-id: aspro-web-api.yaml
            group: aspro
            refresh: true